<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container">
        <div class="menuList"><
          <div class="jumbotron text-center">
            <h1>Joey's Pizza</h1>
            <p><strong>Pizza from heaven</strong></p>
          </div>
          <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
              <div class="row">
                <div class="col-sm-6 text-left">
                  Name
                </div>
                <div class="col-sm-2 text-center">
                  Price
                </div>
                <div class="col-sm-2 text-center">
                  Qty
                </div>
              </div>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
          </div>
        </div>
        <div class="finalizeOrder">
          <div class="row content">
          <div class="col-sm-2 sidenav">
          </div>
            <div class="col-sm-8 text-left">
              <div class="row">
                <div class="col-sm-5 text-left">
                  Phone Number: <textarea></textarea>
                </div>
                <div class="col-sm-3 text-left">
                  <label>Total Price: $</label> <label id="totalPrice">0</label>
                </div>
                <div class="col-sm-2 text-left">
                  <button>Order</button>
                </div>
              </div>
            </div>
          <div class="col-sm-2 sidenav">
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
