body {
  background-color: #ffebcc;
  font-family: 'Merriweather Sans', sans-serif;
}

.jumbotronArea {
  background-color: orange;
  color: black;
  font-family: 'Lobster', cursive;
}

.menuAttribute {
  font-size: 170%;
  font-style: bold;
  padding: 5px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.menu-area {
  margin-top: 7px;
  margin-botom: 6px;
}

.qtyBox {
  top: 8px;
}

.price {
  font-size: 120%;
  top: 8px;
}

.item_name {
  font-size: 150%;
  font-weight: bold;
}

.food_description {
  font-style: italic;
  color: grey;
}

.finalizeOrder {
  margin-top: 3em;
}

.totalPriceBox {
  width: 220px;
  font-size: 140%;
}

.phoneLabel{
  vertical-align: top;
  margin-top: 4px;
}

#userPhoneNumber {
  margin-left: 4px;
  background-color: #fff5e6;
}

.qty {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 120%;
}

.confirmButton {
  top: 20px;
  left: 23px;
}

.confirm {
  width: 100px;
  height: 50px;
  font-size: 150%;
  padding-top: 4px;
}

.orderBox {
  padding: 12px 6px;
  border-style: solid;
  border-radius: 10px;
}

.qtyButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 2px 2px;
}

.priceDetails {
  border-top-style: solid;
  font-size: 120%;
  padding-top: 10px;
  margin-top: 10px;
}

#totalPriceLabel {
  font-size: 150%;
  font-weight: bold;
}

#total {
  font-size: 150%;
  font-weight: bold;
}

.userInfo {
  margin-top: 20px;
  font-size: 120%;
}

#userPhone {
  font-weight: bold;
  font-size: 150%;
}

#userOrderStatus {
  font-weight: bold;
  font-size: 150%;
}

.userPhoneInput {
  top: 34px;
}
